# Build results
bin/
obj/
*.dll
*.exe
*.pdb
*.app
*.log

# Rider/JetBrains IDE
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# MacOS
.DS_Store

# Dotnet publish artifacts
publish/
*.db

# NuGet
*.nupkg
.nuget/
packages/
